#RandomImageList {
	display: inline-block;
	width: 170px;
}

#RandomImageList.Right {
	float: right;
	margin-right: -180px;
}

#RandomImageList.Left {
	float: left;
	margin-left: -180px;
}

#RandomImageList img {
	width: 170px;
}